[submodule "Datavalley-2"]
	path = Datavalley-2
	url = https://github.com/Pavani0507/Datavalley-2.git
[submodule "Datavalley-Assignment3"]
	path = Datavalley-Assignment3
	url = https://github.com/Pavani0507/Datavalley-Assignment3.git
[submodule "Datavalley-Assignment4"]
	path = Datavalley-Assignment4
	url = https://github.com/Pavani0507/Datavalley-Assignment4.git
[submodule "Datavalley-4"]
	path = Datavalley-4
	url = https://github.com/Pavani0507/Datavalley-4.git
[submodule "Datavalley-5"]
	path = Datavalley-5
	url = https://github.com/Pavani0507/Datavalley-5.git
[submodule "Datavalley-6"]
	path = Datavalley-6
	url = https://github.com/Pavani0507/Datavalley-6.git
